- if issue.speeches.any?
  - issue.best_speeches.each_slice(2) do |group|
    .row
      - group.each do |key, value|
        .col-md-6
          .panel.panel-default.speech--fixed-panel
            .panel-body
              %h4
                = value[:name]
              - if value[:best_speech].present?
                %p.lead
                  = link_to value[:best_speech].title, value[:best_speech]
                %p
                  %small
                    %i.fa.fa-user
                    = value[:best_speech].user.email
                - remain_count = issue.speeches.by_position(key).count - 1
                - if remain_count > 0
                  = link_to issue_speeches_path(issue_id: issue, position: key) do
                    #{remain_count}개 연설 더보기 >
              - else
                %h5.text-center
                  %i.fa.fa-microphone-slash
                  .text-muted
                    아직 연설이 없습니다
- if issue.speeches.empty?
  .row
    .col-md-12
      %h5.text-center
        %i.fa.fa-microphone-slash
        .text-muted
          아직 연설이 없습니다

