.issue--summary
  %h3
    = issue.title
    %small
      = link_to [:edit, issue] do
        %i.fa.fa-edit
      = link_to issue, method: :delete, data: { confirm: 'Are you sure?'} do
        %i.fa.fa-trash
    .clearfix
  %p
    - if !current_page?(controller: :speeches, action: :index, issue_id: issue)
      .lead.pull-right= link_to '자세히 보기 >', issue_speeches_path(issue_id: issue, position: 'in_favor')
    %i.fa.fa-user
    = issue.user.email
  %p

    = render partial: 'issues/controllers', locals: {issue: issue}
