.bs-component
  .jumbotron
    %h1
      하나비
      %small= link_to '이슈 시작하기', new_issue_path, class: 'btn btn-primary btn-lg'
  .list-group
    - @issues.each do |issue|
      .list-group-item
        .list-group-item-heading
          %a(role="button" data-toggle="collapse" href="##{dom_id(issue)}" aria-expanded="false" aria-controls="#{dom_id(issue)}")= render issue
        %p.list-group-item-text
          %i.fa.fa-user
          = issue.user.email
          .collapse(id="#{dom_id(issue)}")
            %hr
            = render partial: 'best', locals: {issue: issue}
            - if issue.speeches.empty?
              .row
                .col-md-12.text-center
                  = link_to new_issue_speech_path(issue), class: 'btn btn-danger btn-lg' do
                    %i.fa.fa-microphone
                    연설하기
