.bs-component
  .jumbotron
    = render @issue

  %section
    %h5 투표현황
    .row
      - @issue.stat_votes.each do |key, value|
        .col-md-3
          .alert(class="alert-#{key}")
            = value[:name]
            .lead.pull-right
              = value[:count]

  %section
    %h5 연설
    .row
      .col-md-12
        %ul.nav.nav-pills.nav-justified
          - Speech.positions_i18n.each do |key, value|
            %li(role="presentation" class="#{'active' if params[:position] == key}")
              = link_to issue_speeches_path(issue_id: @issue, position: key) do
                #{value} (#{@issue.speeches.by_position(key).count})
    .row
      .col-md-12
        .list-group
          - if @speeches.empty?
            .list-group-item
              %h5.text-center
                %i.fa.fa-microphone-slash
                .text-muted
                  아직 연설이 없습니다
          - @speeches.each do |speech|
            = link_to speech, class: 'list-group-item' do
              %h5.list-group-item-heading
                - if speech.like_count > 0
                  .pull-right.btn.btn-success.btn-lg.disabled
                    %i.fa.fa-thumbs-up.disabled
                    .badge= speech.like_count
                = speech.title
                .text-muted
                  %small
                    %i.fa.fa-user
                    = speech.user.email

