.bs-component
  .jumbotron
    %p.small
      = link_to issue_speeches_path(@speech.issue, position: @speech.position), style: "text-decoration: none;" do
        "#{@speech.issue.title}"
    %h3
      = link_to issue_speeches_path(@speech.issue, position: @speech.position), style: "text-decoration: none;" do
        .label(class="label-#{@speech.position}")= @speech.position_i18n
      = @speech.title
      %small
        = link_to [:edit, @speech] do
          %i.fa.fa-edit
        = link_to @speech, method: :delete, data: { confirm: 'Are you sure?'} do
          %i.fa.fa-trash
    %p
      %small
        %i.fa.fa-user
        = @speech.user.email

  .row
    .col-md-12.lead
      = @speech.body

  .row
    .col-md-12.lead
      %ul.list-group
        %li.list-group-item
          = render partial: 'comments/form', locals: {speech: @speech}
        - @speech.comments.select(&:persisted?).each do |comment|
          %li.list-group-item
            = comment.body
            .text-muted
              %i.fa.fa-user
              = comment.user.email
  .row
    .col-md-12.text-center
      - unless @speech.liked_by current_user
        = link_to likes_path(speech_id: @speech), method: 'post', class: 'btn btn-success btn-lg' do
          %i.fa.fa-thumbs-up
          좋아요
          .badge= @speech.like_count
      - else
        = link_to like_path(speech_id: @speech), method: 'delete', class: 'btn btn-warning btn-lg' do
          %i.fa.fa-times
          좋아요 취소
          .badge= @speech.like_count
  %hr
  .row
    .col-md-12
      = render partial: 'issues/controllers', locals: {issue: @speech.issue}
