.well.bs-component
  = form_for [(@vote.issue unless @vote.persisted?), @vote].compact do |f|
    %fieldset
      .form-group
        = f.collection_radio_buttons :position, Speech.positions_i18n, :first, :second do |b|
          = b.label(class: 'radio-inline') do
            = b.radio_button
            = b.text
      .form-group
        = f.submit class: 'btn btn-primary btn-lg'
